<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Innovify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mr-auto">
    </div>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-success my-2 my-sm-0" [hidden]="showBtn" routerLink="/signup" type="submit">Sign up</button>
      <button class="btn btn-outline-success my-2 my-sm-0" [hidden]="!showBtn" (click)="logoff()" type="submit">Logout</button>
    </form>
  </div>
</nav>
