<div class="text-center pt-5">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="loginUser(loginForm.value)" class="form-signin">
    <img class="mb-4" src="../../assets/Innovify_logo.png" alt="" width="250" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" formControlName="inputEmail"
      [ngClass]="{
        'is-valid': loginForm.controls.inputEmail.valid && (loginForm.controls.inputEmail.dirty || loginForm.controls.inputEmail.touched),
        'is-invalid': loginForm.controls.inputEmail.invalid && (loginForm.controls.inputEmail.dirty || loginForm.controls.inputEmail.touched)
      }"
      placeholder="Email address" autofocus>
      <div class="invalid-tooltip invalidEmail" *ngIf="!loginForm.controls['inputEmail'].valid">
        Enter valid email id.
      </div>
    </div>
    <div>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control"
      [ngClass]="{
        'is-valid': loginForm.controls.inputPassword.valid && (loginForm.controls.inputPassword.dirty || loginForm.controls.inputPassword.touched),
        'is-invalid': loginForm.controls.inputPassword.invalid && (loginForm.controls.inputPassword.dirty || loginForm.controls.inputPassword.touched)
      }"
      formControlName="inputPassword" placeholder="Password">
      <div class="invalid-tooltip invalidPassword" *ngIf="!loginForm.controls['inputPassword'].valid">
        Password is required.
      </div>
    </div>
    <div class="custom-control custom-checkbox mb-3 float-left">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Remember me</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" *ngIf="loginForm.valid" type="submit">Sign in</button>
    <button class="btn btn-lg btn-outline-primary btn-block" *ngIf="loginForm.invalid" [disabled]="loginForm.invalid" type="submit">Sign in</button>
  </form>
</div>
