.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.far {
  font-size: 20px;
}

.profilePic {
  border: 1px solid #c2c2c2;
  position: absolute !important;
  width: 150px;
  height: 150px !important;
  right: 104px;
  cursor: pointer;
  border-radius: 50%;
}

.profileImg {
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
}

.proPicErrorMsg {
  margin-top: 115px;
}

.fasPic {
  font-size: 60px;
  position: absolute;
  top: 42px;
  left: 46px;
  opacity: 0.4;
  cursor: pointer;
}

.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
  cursor: not-allowed;
}

.proImage {
  max-height: 390px !important;
}
