<div class="container pt-5">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <form [formGroup]="userForm" novalidate (ngSubmit)="postDetails(userForm.value)" class="form-signin needs-validation">
    <div class="row">
      <div class="col-md-3">
        <label for="firstName" class="sr-only">First Name</label>
        <input type="text" id="firstName" class="form-control" [ngClass]="{
          'is-valid': userForm.controls.firstName.valid && (userForm.controls.firstName.dirty || userForm.controls.firstName.touched),
          'is-invalid': userForm.controls.firstName.invalid && (userForm.controls.firstName.dirty || userForm.controls.firstName.touched)
        }" formControlName="firstName" placeholder="First Name" maxlength="30">
        <div class="invalid-tooltip" *ngIf="!userForm.controls['firstName'].valid">
          First Name is required.
        </div>
      </div>
      <div class="col-md-3">
        <label for="lastName" class="sr-only">Last Name</label>
        <input type="text" id="lastName" class="form-control" [ngClass]="{
          'is-valid': userForm.controls.lastName.valid && (userForm.controls.lastName.dirty || userForm.controls.lastName.touched),
          'is-invalid': userForm.controls.lastName.invalid && (userForm.controls.lastName.dirty || userForm.controls.lastName.touched)
        }" formControlName="lastName" placeholder="Last Name" maxlength="30">
        <div class="invalid-tooltip" *ngIf="!userForm.controls['lastName'].valid">
          Last Name is required.
        </div>
      </div>
      <div class="col-md-3">
        <label for="surname" class="sr-only">Surname</label>
        <input type="text" id="surname" class="form-control" [ngClass]="{
          'is-valid': userForm.controls.surname.valid && (userForm.controls.surname.dirty || userForm.controls.surname.touched),
          'is-invalid': userForm.controls.surname.invalid && (userForm.controls.surname.dirty || userForm.controls.surname.touched)
        }" formControlName="surname" placeholder="Surname" maxlength="30">
        <div class="invalid-tooltip" *ngIf="!userForm.controls['surname'].valid">
          Sur Name is required.
        </div>
      </div>

      <div class="col-md-3">
        <div class="custom-file">
          <input class="profilePic form-control" readonly [ngClass]="{
            'is-valid': userForm.controls.profilePic.valid && (userForm.controls.profilePic.dirty || userForm.controls.profilePic.touched),
            'is-invalid': userForm.controls.profilePic.invalid && (userForm.controls.profilePic.dirty || userForm.controls.profilePic.touched)
          }" formControlName="profilePic" (click)="open(content)" id="inputProfilePic">
          <label for="inputProfilePic" class="fasPic fas fa-camera-retro"></label>
          <img class="profileImg" *ngIf="croppedImage" (click)="open(content)" [src]="croppedImage" />
          <div class="invalid-tooltip proPicErrorMsg" *ngIf="!userForm.controls['profilePic'].valid">
            Profile Picture is required.
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <label for="mobileNo" class="sr-only">Mobile Number</label>
        <input type="text" id="mobileNo" class="form-control" [ngClass]="{
          'is-valid': userForm.controls.mobileNo.valid && (userForm.controls.mobileNo.dirty || userForm.controls.mobileNo.touched),
          'is-invalid': userForm.controls.mobileNo.invalid && (userForm.controls.mobileNo.dirty || userForm.controls.mobileNo.touched)
        }" formControlName="mobileNo" placeholder="Mobile Number" maxlength="10">
        <div class="invalid-tooltip" *ngIf="!userForm.controls['mobileNo'].valid">
          Mobile Number is required.
        </div>
      </div>
      <div class="col-md-3">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" [ngClass]="{
          'is-valid': userForm.controls.inputEmail.valid && (userForm.controls.inputEmail.dirty || userForm.controls.inputEmail.touched),
          'is-invalid': userForm.controls.inputEmail.invalid && (userForm.controls.inputEmail.dirty || userForm.controls.inputEmail.touched)
        }" formControlName="inputEmail" placeholder="Email address">
        <div class="invalid-tooltip" *ngIf="!userForm.controls['inputEmail'].valid">
          Valid Email Id is required.
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input class="form-control" formControlName="birthday" [ngClass]="{
            'is-valid': userForm.controls.birthday.valid && (userForm.controls.birthday.dirty || userForm.controls.birthday.touched),
            'is-invalid': userForm.controls.birthday.invalid && (userForm.controls.birthday.dirty || userForm.controls.birthday.touched)
          }" placeholder="Date of Birth" name="dp" ngbDatepicker #d="ngbDatepicker">
          <div class="invalid-tooltip" *ngIf="!userForm.controls['birthday'].valid">
            Date of birth is required.
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-9">
        <label for="address" class="sr-only">Address</label>
        <textarea class="form-control" id="address" rows="2" [ngClass]="{
          'is-valid': userForm.controls.address.valid && (userForm.controls.address.dirty || userForm.controls.address.touched),
          'is-invalid': userForm.controls.address.invalid && (userForm.controls.address.dirty || userForm.controls.address.touched)
        }" formControlName="address" placeholder="Address"></textarea>
        <div class="invalid-tooltip" *ngIf="!userForm.controls['address'].valid">
          Address is required.
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-9">
        <button class="btn btn-primary btn-block col-md-2" *ngIf="userForm.valid" type="submit">Save</button>
        <button class="btn btn-outline-primary btn-block col-md-2" *ngIf="userForm.invalid" [disabled]="userForm.invalid" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="file" (change)="fileChangeEvent($event)" />

    <image-cropper class="proImage" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="150"
      format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="imageLoadFailed()"></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Save</button>
  </div>
</ng-template>
