<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">
      <p class="p-info">First Name</p>
      <p class="p-info">Last Name</p>
      <p class="p-info">Surname</p>
      <p class="p-info">Mobile No</p>
      <p class="p-info">Email ID</p>
      <p class="p-info">Birth Date</p>
    </div>
    <div class="col-md-3">
      <p class="p-info">{{tempUserData.firstName}}</p>
      <p class="p-info">{{tempUserData.lastName}}</p>
      <p class="p-info">{{tempUserData.surname}}</p>
      <p class="p-info">{{tempUserData.mobileNo}}</p>
      <p class="p-info">{{tempUserData.inputEmail}}</p>
      <p class="p-info">{{tempUserData.birthday}}</p>
    </div>
    <div class="col-md-3">
      <img class="profile" [src]="tempUserData.profilePic" alt="Profile Pic">
    </div>
  </div>
</div>
